@import url("https://fonts.cdnfonts.com/css/d-din");

#root{
  font-family: 'D-DIN Exp', sans-serif;
  margin: 0 auto;
  padding: 2.5rem;
  align-items: center ;
  text-align: left;
  font-weight: 400; 
}

.icon-area{
  padding-bottom: 6pt;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn.btn-submit{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-size: 18pt;
}

.btn.btn-submit:hover{
  font-weight: bolder;
}

.form-group{
  padding: 2.5px;
}