:root {
  line-height: 1.5;
  align-items: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  background: rgb(178, 250, 214);
  background: -moz-linear-gradient(
    180deg,
    rgba(178, 250, 214, 1) 0%,
    rgba(178, 250, 214, 1) 35%,
    rgba(0, 188, 248, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(178, 250, 214, 1) 0%,
    rgba(178, 250, 214, 1) 35%,
    rgba(0, 188, 248, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(178, 250, 214, 1) 0%,
    rgba(178, 250, 214, 1) 35%,
    rgba(0, 188, 248, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2fad6",endColorstr="#00bcf8",GradientType=1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
