/* for login dialogs */

.login-dialog{
  align-items: center;
  background-color: inherit;
  border-style: solid;
  border-width: 1.75px;
  border-color: #dbdbdb; 
  padding: 3em;
  max-width: 600px;
  margin-bottom: auto;
  border-radius: 10px;
} 

.override-login{
  padding-top: 60px;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
}

/*end for login dialogs*/

.align-to-right {
  text-align: right;
}

.subheader-login {
  padding-top: 8px;
  padding-bottom: 35px;
  color: #13b473;
  font-weight: 500;
  font-size: 20pt;
  text-shadow: 1px 2px 2px rgb(131, 139, 139);
}

.login-form-textbox{
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 400;
    padding: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 15pt;
  padding: 0.6em 2.6em;
  font-size: 15pt;
  font-weight: 500;
  font-family: "D-DIN Exp";
  background-color: #13b473;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
    font-weight: 700;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
