body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.gradient-custom {
  background: rgb(34, 70, 48);
  background: -moz-linear-gradient(
    180deg,
    rgba(34, 70, 48, 1) 0%,
    rgba(28, 43, 129, 1) 40%,
    rgba(20, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(34, 70, 48, 1) 0%,
    rgba(28, 43, 129, 1) 40%,
    rgba(20, 0, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(34, 70, 48, 1) 0%,
    rgba(28, 43, 129, 1) 40%,
    rgba(20, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224630",endColorstr="#1400ff",GradientType=1);  

}

.image-rounded {
  border-radius: 100%;
  background: #eee no-repeat center;
  background-size: cover;
}
